<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/animo">
    <img src="./animo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SPF</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/animo">Nuevo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/listado">Ver Listado</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/acerca">Acerca de</a>
      </li>
    </ul>
  </div>
  <a class="btn btn-outline-danger" href="/salir">Salir</a>
</nav>
<br>
<br>
<br>
<br>
<br>
<div class="container">
        <h2 class="bg-info text-white text-center" style="padding: 4px;">Acerca del Autor</h2>
        <br><br>
        <p style="background: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nihil minus ab delectus corporis vel officia! Doloribus obcaecati, illo sapiente repellat rerum iste. Repudiandae assumenda repellendus ab numquam vel alias at, tempora recusandae accusantium cupiditate nulla illo ad id iure explicabo mollitia similique quaerat facilis delectus corporis distinctio sit ut. Inventore a repellat iusto animi nesciunt libero ab cumque totam? At consequuntur aperiam optio dolores, ad placeat, quia voluptatibus inventore molestiae minus sit adipisci voluptate omnis beatae! Molestias reiciendis ipsa non officiis harum quo. Magni nesciunt quidem commodi provident tempore et nulla vitae in, sit rem, voluptatibus sint consequuntur eveniet.</p>
</div>