<div class="container col-md-4 box">
<h2 class="p-3 mb-2 bg-info text-white text-center">Login</h2>
  <div class="content">
    <form method="POST">
      <div class="form-group">
        <label for="user">
          User
        </label>
        <input
          type="text"
          class="form-control"
          id="user"
          name="user"
        />
      </div>
      <div class="form-group">
        <label for="pass">
          Password
        </label>
        <input type="password" class="form-control" id="pass" name="pass" />
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-info">
          Submit
        </button>
      </div>
      <br>
      <div class="text-center">Don't have an account?
<a href="/checkin">Sign Up</a></div>
    </form>
  </div>
</div>
<p class="text-danger text-center">{{error}}</p>
